@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.active {
  background-color: dodgerblue;
  color: white;
}

html {
  scroll-behavior: smooth;
}
@media only screen and (max-width: 512px) {
  .rsvselect{
    max-width: 220px;
    width: 100%;
  }
}